@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

@layer utilities {
  .my-masonry-grid {
    @apply -mb-4 -ml-4 -mr-4 flex w-[calc(100%+16px)] md:-mb-4 md:-ml-4 md:-mr-4 md:w-[calc(100%+16px)];
  }
  .my-masonry-grid_column {
    background-clip: padding-box;
    @apply pl-4 md:pl-4;
  }

  /* Style your items */
  .my-masonry-grid_column > div {
    /* change div to reference your elements you put in <Masonry> */
    background: grey;
    @apply mb-4 md:mb-4;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

pre {
  margin: 0 !important;
}
