@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

@layer utilities {
  .my-masonry-grid {
    @apply -ml-3 md:-ml-4 -mb-3 md:-mb-4 flex -mr-3 md:-mr-4 w-[calc(100%+12px)] md:w-[calc(100%+16px)];
  }
  .my-masonry-grid_column {
    background-clip: padding-box;
    @apply pl-3 md:pl-4;
  }

  /* Style your items */
  .my-masonry-grid_column > div {
    /* change div to reference your elements you put in <Masonry> */
    background: grey;
    @apply mb-3 md:mb-4;
  }
}

pre {
  margin: 0 !important;
}
