@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .my-masonry-grid {
    display: flex;
    width: auto;
    @apply -ml-4 md:-ml-8;
  }
  .my-masonry-grid_column {
    background-clip: padding-box;
    @apply pl-4 md:pl-8;
  }

  /* Style your items */
  .my-masonry-grid_column > div {
    /* change div to reference your elements you put in <Masonry> */
    background: grey;
    @apply mb-4 md:mb-8;
  }
}

pre {
  margin: 0 !important;
}
